<section ng-app="app">
	<div ng-controller="RegisterCtrl">
		<form ng-submit="register(user)">
			<label>
				<div>First Name</div>
				<input type="text" ng-model="user.firstName">
			</label>
			<label>
				<div>Last Name</div>
				<input type="text" ng-model="user.lastName">
			</label>
			<label>
				<div>Address</div>
				<input type="text" ng-model="user.address">
			</label>
			<label>
				<div>City</div>
				<input type="text" ng-model="user.city">
			</label>
			<label>
				<div>State</div>
				<input type="text" ng-model="user.state">
			</label>
			<label>
				<div>Zip</div>
				<input type="text" ng-model="user.zip">
			</label>
			<label>
				<div>Email</div>
				<input type="text" ng-model="user.email">
			</label>
			<label>
				<div>Password</div>
				<input type="password" ng-model="user.password">
			</label>
			<button type="submit">Register</button>
		</form>
	</div>
</section>